* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 4.0625rem;
    background: #97b1fc;
}

.header-container {
    padding-top: .625rem;
    padding-bottom: .625rem;
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 37.5rem;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#loadMore {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

#loadMore.hidden {
    display: none;
}

.hidden {
    display: none;
}


#loadMore:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  justify-content: center;
}

.photo-card{
    width: 400px;
    padding: 20px;
}
.image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.info{
    display: flex;
}